.App {
  text-align: center;
}

#root {
  background-image: linear-gradient(180deg, #581845, #900C3F, #C70039, #FF5733, #FFC300);
  /* background-image: linear-gradient(180deg, #0035ff, #0c5390, #0074c7, #33ceff, #1b00ff3b); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h-100vh{
  height: 100vh;
}

.card, .card-header, .formInput{
  background: transparent !important;
  color: #fff !important;
  border-color: #fff !important;
  min-width: 70% !important;
}

.formInput::placeholder{
  color: #adadad !important;
}

.formBtn{
  background: transparent !important;
  border-color: #fff !important;
  transition: 0.7s all;
}

.formBtn:hover{
  background: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.login-head{
  color: #fff;
  font-family: monospace;
  font-weight: 900;
  letter-spacing: 3px;
  border-left: 15px solid #fff;
  padding-left: 25px;
}

.login-subhead{
  color: #fff;
  font-family: sans-serif;
  /* font-weight: 900; */
  letter-spacing: 3px;
  /* border-left: 15px solid #fff;
  padding-left: 25px; */
  /* text-decoration: underline; */
  text-align: center;
  display: none;
}

.loader{
  position: absolute;
  top: 0;
  background: #2727279e;
  height: 100vh;
  width: 98vw;
}

a {
  color: #ffffff !important;
}

